body{
   background: rgb(145,0,255);
   background: linear-gradient(180deg, rgba(145,0,255,1) 0%, rgba(141,0,255,1) 21%, rgba(189,33,255,1) 45%, rgba(253,130,255,1) 69%, rgba(255,147,214,1) 82%);
   padding: 5%;
}
body p:nth-child(2){
   margin-top: 450px;
}
p{
   color: #2f0030;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.geo{
   color: #512c70;
   font-size: 12.5px;
   font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.image{
   margin-bottom: 15px;
   max-width: 700px;
   max-height: 500px;
   position: absolute;
   left: 1%;
   top: 6%;
}